
@{
    ViewBag.Title = "VideoList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.VideoDTO>

<section class="content-header">

    <h1>User List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Video</a></li>
        <li class="breadcrumb-item"><a>Video List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary"
            onclick="window.location.href='/Admin/Video/AddVideo'">
        Add Video
    </button>
</div>

<!--table for list-->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Video Path</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr id="a_@item.ID">
                        <td>@item.Title</td>
                        <td>@item.OriginalVideoPath</td>

                        <td align="center" valign="middle">
                            <a href="/Admin/Video/UpdateVideo/@item.ID">
                                <img src="~/Areas/Admin/Content/Icons/update48.png" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <img src="~/Areas/Admin/Content/Icons/delete48.png" 
                                     onclick="AskQuestion('/Admin/Video/DeleteVideo/', @item.ID)"/>
                            </a>
                        </td>
                    </tr>

                </tbody>
            }

            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Video Path</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<!-- /.card -->
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>