
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">

    <h1>Social Media Operation</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Meta</a></li>
        <li class="breadcrumb-item"><a>Update Social Media</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary"
            onclick="window.location.href='/Admin/SocialMedia/SocialMediaList'">
        Social Media List
    </button>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                <!--Page consists of 2 parts so multipart form data-->
                @using (Html.BeginForm("UpdateSocialMedia", "SocialMedia", FormMethod.Post,
                    new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/SocialMediaForm")
                }
            </div>
        </div>
    </div>
</section>

